/* Basic Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #762323;
    color: #821d1d;
    padding: 10px; /* Add padding around the page */
}

/* Centering the form on the page */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

/* Styling the form */
form {
    background-color: #333;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 90%; /* Make form width responsive */
    max-width: 300px; /* Max width to prevent the form from being too wide on large screens */
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 20px); /* Adjust width to account for padding */
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    background-color: #fff;
}

.button-container {
    display: flex;
    justify-content: space-between;

  }
  
  .loginbutton {
    
    width: calc(100% - 20px); /* Adjust width to account for padding */
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #9d9d0d;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .signupbutton {
    
    width: calc(100% - 20px); /* Adjust width to account for padding */
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #9d9d0d;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

button:hover {
    background-color: #c8d511;
}

/* Placeholder text color */
::placeholder {
    color: #999;
}

/* Responsive adjustments */
@media (max-width: 600px) {
    .form-container {
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 20vh; /* Add more vertical space on smaller screens */
    }

    form {
        width: 100%; /* Allow the form to fill the screen width on very small devices */
    }
}
